.home {
	margin-bottom: -20px;
}

.index-body {
	background: #00BD9C;
	h1 {
		color: white;
		text-align: center;
		text-transform: uppercase;
		padding-top: 30px;
	}
	h3 {
		text-align: center;
		color: #2B3E51;
	}
	form {
		margin: 0 auto;
		text-align: center;
		width: 30%;
		padding-bottom: 80px;
		input {
			color: white;
			font-size: 30px;
			text-align: center;
		}
	}
}

.nav-color {
	background: #2B3E51;
}

.footer-color {
	background: #2B3E51;
}