.index-body {
	background: #00BD9C;
	h1 {
		color: white;
		text-align: center;
		text-transform: uppercase;
	}
	h4 {
		color: white;
		text-align: center;
	}
	form {
		text-align: center;
		width: 10%;
		label {
			color: white;
			font-size: 20px;
		}
		input {
			color: white;
			font-size: 20px;
		}
	}
}

.nav-color {
	background: #2B3E51;
}

.footer-color {
	background: #2B3E51;
}