<div class="row home">
	<div class="col s12 index-body">
	  <div class="container">
			<h1>Traction<i class="fa fa-fire"></i></h1>
			<h3>Get shit done.</h3>
			  <form action="/" method="post">
			  	<input type="email" name="email" placeholder="Email">
			  </form>
		  </div>
	  </div>
</div>


