<div class="row home">
	<div class="col s12 index-body">
	  <div class="container">
			<h1>Traction<i class="fa fa-fire"></i></h1>
			<h3>Productivity redefined.</h3>
			  <form action="/" method="post">
			  	<input type="email" name="email" placeholder="Email">
			  </form>
		  </div>
	  </div>
</div>

<div class="row selling-points">
	<div class="col s4">
	  <div class="icons">
	    <i class="fa fa-users fa-3x"></i>
	  </div>
	  <h5>Convenient organization</h5>
	  <p>
	  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit non, veniam consequatur natus distinctio architecto ullam assumenda, mollitia nemo similique, placeat ducimus.
	  </p>
	</div>
	<div class="col s4">
	  <div class="icons">
	    <i class="fa fa-check-square-o fa-3x"></i>
	  </div>
	  <h5>Automatically assign tasks</h5>
	  <p>
	  	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum minus quisquam quidem sed debitis eligendi, dignissimos! Facere nostrum, laboriosam at quo earum.
	  </p>
	</div>
	<div class="col s4">
	  <div class="icons">
	    <i class="fa fa-money fa-3x"></i>
	  </div>
	  <h5>Increase group productivity</h5>
	  <p>
	  	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores voluptatem totam deserunt eveniet dicta incidunt dignissimos dolorem. Veniam ab nobis, doloribus voluptatibus.
	  </p>
	</div>
</div>


